name: Release
on:
  push:
    tags:
      - v*

concurrency:
  group: release-${{ github.ref }}
  cancel-in-progress: true

jobs:
  release:
    name: Release
    runs-on: ubuntu-22.04

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4.2.2

      - name: Setup Node
        uses: actions/setup-node@v4.3.0
        with:
          node-version: '20'

      - name: Setup pnpm
        run: npm install -g pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Check dist updated
        run: |
          pnpm build
          git diff --quiet -- dist || {
            echo "::error::The ./dist is outdated, run 'pnpm build' and commit"
            exit 1
          }

      - uses: ncipollo/release-action@v1.16.0
        id: release
        with:
          draft: ${{ contains(github.ref, '-draft') }}
          prerelease: ${{ contains(github.ref, '-rc') || contains(github.ref, '-alpha') || contains(github.ref, '-beta') }}
          generateReleaseNotes: true
          allowUpdates: true
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Workflow notices
        run: echo "::notice title=Release::${{ steps.release.outputs.html_url }}"
