name: Test setup-kubectl
on:
  push:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  check-dist:
    name: Check dist
    runs-on: ubuntu-22.04

    permissions:
      contents: read

    steps:
      - name: Check out code
        uses: actions/checkout@v3.0.2

      - name: Setup Node
        uses: actions/setup-node@v3.4.1
        with:
          node-version: '16'

      - name: Setup yarn
        run: npm install --location=global yarn

      - name: Install dependencies
        run: yarn install

      - name: Check diff is up to date
        run: |
          yarn build
          git diff --quiet -- dist || {
            echo "::error::The ./dist is outdated, run 'yarn build' and commit"
            exit 1
          }

  test:
    name: Use setup-kubectl

    strategy:
      fail-fast: true
      matrix:
        # os: [ubuntu-22.04, macos-12, windows-2022]
        os: [ubuntu-22.04, macos-12]
        version: [v1.24.4, latest, stable]
        enablePlugins: [true, false]

    runs-on: ${{ matrix.os }}

    needs: [check-dist]

    permissions:
      contents: read

    env:
      AWS_CSM_ENABLED: 'true'

    steps:
      - name: Check out code
        uses: actions/checkout@v3.0.2

      - name: Setup Node
        uses: actions/setup-node@v3.4.1
        with:
          node-version: '16'

      - name: Setup kubectl
        id: setup-kubectl
        uses: ./
        with:
          kubectlVersion: ${{ matrix.version }}
          enablePlugins: ${{ matrix.enablePlugins }}

      - name: Check output and installPath
        run: |
          hash kubectl 2>/dev/null || { echo >&2 "kubectl can not be found in the PATH."; exit 1; }
          echo "::notice::Installed kubectl ${KUBECTL_VERSION} at $(which kubectl)"

          ${{ matrix.enablePlugins }} && {
            hash kubectl-krew 2>/dev/null || { echo >&2 "kubectl-krew can not be found in the PATH."; exit 1; }
            echo "::notice::Installed krew ${KREW_VERSION} at $(which kubectl-krew)"
          } || true
        env:
          KUBECTL_VERSION: ${{ steps.setup-kubectl.outputs.kubectl-version }}
          KREW_VERSION: ${{ steps.setup-kubectl.outputs.krew-version }}
